<a href="https://colab.research.google.com/github/rupeshryan/Python-Basics/blob/Default-Branch/Data_pre_processing_template_DS_29th_May.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DATA PREPROCESSING**

Import the libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Import the Dataset

In [ ]:
dataset = pd.read_csv('/content/Data.csv')

In [ ]:
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

Create Independent and dependent Variables

In [ ]:
X= dataset.iloc[:, :-1]  #all rows, all colums except last puchased colum
y= dataset.iloc[:,3]    #all rows, all colums

In [ ]:
X

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

Handling Missing Data

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imputer = imputer.fit(X[:,1:3])
X[:,1:3] = imputer.transform(X[:,1:3])

TypeError: ignored

In [ ]:
### Index[:, start index: last index+1]

In [ ]:
X